$font-primary: 'Roboto Condensed', sans-serif;
$font-secondary: 'Fjalla One', sans-serif;
$colorDark: #252422;
$colorWhite: #FFFFFF;
$colorHighlight: #EB5E28;
$colorLight: #FFFCF2;
$colorSpotify: #6AE368;
$colorYoutube: #FF0000;

body {
    font-family: $font-primary;
    background-color: $colorDark;
    color: $colorLight;
}

.user {
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;

    &__avatar {
    display: block;
    width: 50px;
    height: 50px;
    background-color: $colorWhite;
    border: 2px solid $colorLight;
    border-radius: 100%;
    overflow: hidden;
    z-index: 1;
    margin-right: 15px;

        img {
            width: 50px;
        }
    }

    &__name {
        font-family: $font-secondary;
        font-size: 1.8em;

        a {
            color: $colorLight;
            
            &:hover {
                color: lighten($colorLight, 2%);
            }

            &:focus,
            &:active {
                color: darken($colorLight, 2%);
            }
        }
    }
}

.track  {
    display: flex;
    flex-wrap: nowrap;
    padding-top: 15px;
    padding-bottom: 15px;

    &:nth-child(odd) {
        background-color: lighten($colorDark, 5%);
    }

    &:nth-child(even) {
        background-color: lighten($colorDark, 2%);
    }

    &__image {
        margin-right: 15px;

        img {
            width: 150px;
            border: 1px solid $colorLight;
        }
    }

    &__info {
        position: relative;
        width: 100%;

        &__date {
            display: block;
        }

        &__search{
            position: absolute;
            bottom: 0;
            right: 0;
            float: right;
        }

        &__spotify {
            color: $colorSpotify;

            &:hover {
                color: lighten($colorSpotify, 2%);
            }
        }

        &__youtube {
            color: $colorYoutube;

            &:hover {
                color: lighten($colorYoutube, 2%);
            }
        }
    }
}

.albumart {
    position: relative;

    &__image {
        width: 100%;
        border: 2px solid $colorWhite;
    }

    &__song {
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: $colorWhite;
        opacity: 0.9;
        padding: 10px;
        color: $colorHighlight;
        font-weight: bold;
    }
}

.current-track {
    height: auto;
    background-color: $colorHighlight;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 30px;
}

.settings{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 15px;
    margin-right: 15px;
    cursor: pointer;

    &__popup{
        color: $colorWhite;

        .modal-content{
            background-color: $colorDark;
        }

        .fa {
            line-height: 24px;
        }

        .user{
            margin-bottom: 0;
            margin-top: 0;
            padding: 15px;
            justify-content: space-between;

            &__info{
                display: flex;
            }

            &__delete{
                cursor: pointer;
            }

            &__add{
                margin-top: 15px;

                .btn{
                    border-radius: 0 .25rem .25rem 0;
                }
            }

            &:nth-child(odd){
                background-color: lighten($colorDark, 5%);
            }

            &:nth-child(even){
                background-color: lighten($colorDark, 2%);
            }

        }
    }

}